*{
  font-family: "Advent Pro",monospace,sans-serif, courier;
}

body{
  display: grid;
  grid-template: 1fr 3fr/ 1fr 3fr;
}

.header {
  background-color: #27272A;
  color: orange;
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header .top {
  display: flex;
  grid-row: 1/2;
  align-items: center;
  justify-content: space-between;
}

.header .bottom {
  display: flex;
  grid-row: 2/3;
  align-items: center;
  justify-content:space-between;
}

.header .bottom .greetings {
  display: flex;
}

.header .bottom .header-buttons {
  display: flex;
  margin: 30px;
}
.side-bar {
  background-color: #27272A;
  color: orange;
  grid-column: 1/2;
  grid-row: 1/3;
  display: grid;
}

.side-bar .dashboard-logo {
  display: flex;
  align-items: center;
}

.side-bar .side-bar-menu > div {
  display: flex;
}

.side-bar .side-bar-settings > div {
  display: flex;
}

.board {
  background-color: #E2E8F0;
  display:grid;
  grid-template: 1fr 1fr 1fr / 2fr 1fr;
  grid-column: 2/3;
  grid-row: 2/3;
}

.board .projects
{
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.board .projects .project-card{
  background-color: #F1F5F9;
  display: flex;
  flex-direction: column;
}

.board .projects .project-card > div{
  display: flex;
  justify-content: flex-end;
}

.board .announcements {
  background-color: #F1F5F9;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.board .trending {
  background-color: #F1F5F9;
  grid-column: 2/3;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
}
