*{
  font-family: "Advent Pro",monospace,sans-serif, courier;
  font-size: 16px;
}

body{
  display: grid;
  grid-template: 10% 90%/ 15% 85%;
  margin: 0px;
}

button{
  margin: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
}

button:active{
  transform: scale(95%);
  background-color: #E2E8F0;
}

.header {
  background-color: #27272A;
  color: #ff9700;
  grid-column: 2/3;
  grid-row: 1/2;
}

.header .top {
  display: flex;
  grid-row: 1/2;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header .top>*{
  margin-left: 40px;
}

.header .bottom {
  display: flex;
  grid-row: 2/3;
  align-items: center;
  justify-content:space-between;
  flex-basis: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header .bottom .greetings {
  display: flex;
}

.header .bottom .header-buttons {
  margin: 30px;
}

.header .top input[type=text]{
  float: none;
  text-align: left;
  width: 80%;
  margin: 0;
  padding: 14px;
  border-radius: 5px;
}

.header .top img:nth-child(4){
  background-size: cover;
  background-position: center;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  border-radius: 200px;
}

.header .bottom .greetings img:nth-child(1){
  background-size: cover;
  background-position: center;
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
  margin-right: 60px;
}

.side-bar {
  background-color: #27272A;
  color: #ff9700;
  grid-column: 1/2;
  grid-row: 1/3;
  min-width: 100px;
  display: flex;
  flex-direction: column;
}

.side-bar .dashboard-logo {
  display: flex;
  margin-left: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.side-bar .side-bar-menu{
  margin-top: 60px;
  margin-bottom: 60px;
}

.side-bar .side-bar-menu > div {
  display: flex;
  margin-left: 30px;
  margin-bottom: 15px;
}

.side-bar .side-bar-settings > div {
  display: flex;
  margin-left: 30px;
  margin-bottom: 15px;
}

.board {
  background-color: #E2E8F0;
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 2/3;
  grid-row: 2/3;
}

.board .projects
{
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.board .projects .project-card{
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #F1F5F9;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  box-shadow: 6px 6px 8px;
}

.board .projects .project-card > div{
  display: flex;
  justify-content: flex-end;
}

.board .projects .project-card .project-title
{
  grid-row: 1 / 2;
}

.board .projects .project-card .project-text
{
  grid-row: 2/3;
}

.board .projects .project-card .project-icons
{
  grid-row: 3/4;
  align-items: flex-end;
}

.board .projects .project-card .project-icons>*{
  margin-left: 40px;
  max-width: 30px;
  max-height: 30px;
}


.board .announcements-trending {
  display: grid;
  grid-template: 1fr 1fr/ 1fr;
  grid-row: 1 / 2;
  grid-column: 2/3;
  box-shadow: 8px 8px 8px #27272A;
}

.board .announcements-trending .trending .trending-user img:first-child{
  display: block;
  max-width: 80px;
  max-height: 80px;
  min-width: 80px;
  min-height: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 150px;
}

.board .announcements-trending .trending .trending-user
{
  display: flex;
  margin-bottom: 30px;
}

.board .announcements-trending .trending .trending-user img:first-child
{
  margin-right: 40px;
}

.board .announcements {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F1F5F9;
  display: flex;
  grid-row: 1 / 2;
  flex-direction: column;
  box-shadow: 8px 8px 8px #27272A;
}

.board .trending {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F1F5F9;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 8px #27272A;
}

#icon{
  filter: invert(60%) sepia(34%) saturate(2263%) hue-rotate(358deg) brightness(102%) contrast(106%);
  margin-right: 20px;
}
